<center><h2>Prework</h2></center>
<hr>

<h2>Estructuras de datos</h2>


*   Un paradigma de programación es básicamente un conjunto de herramientas, métodos y reglas que se reúnen cohesivamente y se utilizan para resolver problemas computacionales.

<h3>Map</h3>

En programación, la función map() es una función que aplica una función a todos los elementos de un iterable y devuelve un nuevo iterable con los resultados.

La sintaxis de la función map() es la siguiente:

map(funcion, iterable)

donde:

*   funcion es la función que se aplicará a cada elemento del iterable.
*   iterable es el iterable al que se aplicará la función.

In [ ]:
def convertir_a_cadena(numero):
    return str(numero)

lista = [1, 2, 3, 4, 5]

nueva_lista = map(convertir_a_cadena, lista)

print(nueva_lista)

<map object at 0x7d42586f0bb0>

In [ ]:
lista = [1, 2, 3, 4, 5]

nueva_lista = map(lambda numero: numero ** 2, lista)

print(nueva_lista)

<map object at 0x7d42586f1360>

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9]

In [ ]:
numeros_por_dos = [numeros[0]*2,numeros[1]*2,numeros[2]*2,numeros[3]*2,numeros[3]*2,numeros[4]*2,numeros[5]*2,numeros[6]*2,numeros[7]*2,numeros[8]*2]
numeros_por_dos

[2, 4, 6, 8, 8, 10, 12, 14, 16, 18]

In [ ]:
def multiplicar_por_dos(numeros):
  resultado = numeros * 2

  return resultado

Ahora, lo que hace map es lo siguiente:

*   Recibe una función que queremos aplicar a una lista.
*   Recibe una lista.
*   Aplica la función a la lista elemento por elemento y regresa una nueva lista que contiene los elementos de la lista anterior transformados.

In [ ]:
map(multiplicar_por_dos,numeros)

In [ ]:
list(map(multiplicar_por_dos,numeros))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

Ésta es una de las razones por las que establecimos que era una buena idea tener listas con un solo tipo de dato. A la hora de querer aplicar una función a toda la lista, las cosas se complican mucho cuando tenemos diversos tipos de datos en la misma estructura de datos.

Nuestra función puede ser tan complicada como queramos. Por ejemplo, mira esta función que transforma todos los datos nones en 0s, mientras que los datos pares los regresa sin transformarlos:

In [ ]:
def si_non_regresar_0(numeros):
  if numeros % 2 == 0:
    return numeros
  else:
    return 0

In [ ]:
numeros = [6,78,3,89,5,63,42,8,76,1,245,9,877,465,34,77,80]

numeros_non_en_cero = list(map(si_non_regresar_0,numeros))

numeros_non_en_cero

[6, 78, 0, 0, 0, 0, 42, 8, 76, 0, 0, 0, 0, 0, 34, 0, 80]

 Por ejemplo, mira esta función que toma un número y lo regresa en forma de string con el signo de dinero añadido y la unidad MXN:

In [ ]:
def formato_de_dinero(numeros):
  formateado = f'${numeros} MXN'
  return formateado

In [ ]:
numeros = [6,78,3,89,5,63,42,8,76]
numeros_formato_dinero = list(map(formato_de_dinero,numeros))
numeros_formato_dinero

['$6 MXN',
 '$78 MXN',
 '$3 MXN',
 '$89 MXN',
 '$5 MXN',
 '$63 MXN',
 '$42 MXN',
 '$8 MXN',
 '$76 MXN']

<h3>Filter</h3>

En programación, la función filter() es una función que aplica una función de prueba a todos los elementos de un iterable y devuelve un nuevo iterable con los elementos que pasan la prueba.

La sintaxis de la función filter() es la siguiente:

filter(funcion_de_prueba, iterable)

donde:

*   funcion_de_prueba es una función que toma un elemento del iterable como entrada y devuelve un valor booleano que indica si el elemento debe incluirse en el nuevo iterable.
*   iterable es el iterable al que se aplicará la función de prueba.

In [ ]:
def es_par(numero):
    return numero % 2 == 0

lista = [1, 2, 3, 4, 5]

nueva_lista = filter(es_par, lista)

print(nueva_lista)

<filter object at 0x7d331f43bd30>

In [ ]:
lista = [1, 2, 3, 4, 5]

nueva_lista = filter(lambda numero: numero > 3, lista)

print(nueva_lista)

<filter object at 0x7d331f43b250>

In [ ]:
numeros = [5,8,-2,-34,9,78,45,-67,12,48,-94,-76,-3,25,47]

In [ ]:
def numero_es_positivo(numeros):
  if numeros >= 0:
    return True
  else:
    return False

In [ ]:
list(filter(numero_es_positivo,numeros))

[5, 8, 9, 78, 45, 12, 48, 25, 47]

filter funciona de la siguiente manera:

Recibe una función que regrese True o False.
Recibe una lista.
Va recorriendo la lista elemento por elemento y le aplica la función a cada elemento de la lista.
Cada vez que la función regresa True, filter agrega ese elemento a una nueva lista (la que vamos a obtener de regreso). Cada vez que la función regresa False, filter descarta ese elemento y no lo agrega a la nueva lista.
Es por eso que en nuestro ejemplo ya solamente tenemos los elementos que son positivos. Veamos qué pasaría si quisiéramos ahora filtrar los números negativos:

In [ ]:
def numero_es_negativo(numeros):
  if numeros < 0:
    return True
  else:
    return False

In [ ]:
list(filter(numero_es_negativo,numeros))

[-2, -34, -67, -94, -76, -3]

Ahora nuestra función regresa True cuando el número es negativo (if numero < 0). Por lo tanto, filter agrega a la nueva lista todos los números negativos y deja fuera los positivos.

<h2>Operadores lógicos</h2>

Los operadores lógicos complementan las funcionalidades de los operadores de comparación. Podríamos decir que "extienden" las funcionalidades. Los operadores lógicos toman una o dos sentencias de comparación y regresan un valor (booleano) que depende del resultado de las comparaciones y del operador lógico que se esté usando.

<h3>And</h3>

And une dos sentencias de comparación y regresa True sólo cuando ambas sentencias regresen True. En este primer ejemplo, estamos reemplazando las sentencias por simples booleanos, pero sólo lo hacemos para simplificar la lógica y hacer muy evidente el funcionamiento de and

In [ ]:
print(f'{(""):8}|{("True"):8}|{("False"):8}')
print(f'{("True"):8}|{(True and True):8}|{(True and False):8}')
print(f'{("False"):8}|{(False and True):8}|{(False and False):8}')

        |True    |False
True    |       1|       0
False   |       0|       0

In [ ]:
(5 > 2) and (10 ==10)

True

In [ ]:
(5 > 2) and (10 < 8)

False

In [ ]:
(5 != 5) and (10 > 8)

False

In [ ]:
(5 != 5) and (10 == 8)

False

In [ ]:
numeros = [3,6,78,54,36,55,32,13,37,89,87,88,90,63,74,5,97,6,3,225,46,79]

In [ ]:
def numero_es_par(numeros):
  if numeros % 2 == 0:
    return True
  else:
    return False

In [ ]:
def numero_mayor_a_50(numeros):
  if numeros > 50:
    return True
  else:
    return False

In [ ]:
def numero_es_par_y_mayor_a_50(numeros):
  if numero_es_par(numeros) and numero_mayor_a_50(numeros):
    return True
  else:
    return False

In [ ]:
list(filter(numero_es_par_y_mayor_a_50,numeros))

[78, 54, 88, 90, 74]

<h3>Or</h3>

Or une dos sentencias de comparación y regresa True si una de las dos o ambas sentencias regresen True. Es decir, si hay True en nuestra sentencia, or regresa True:

In [ ]:
print(f'{(""):8}|{("True"):8}|{("False"):8}')
print(f'{("True"):8}|{(True or True):8}|{(True or False):8}')
print(f'{("False"):8}|{(False or True):8}|{(False or False):8}')

        |True    |False
True    |       1|       1
False   |       1|       0

In [ ]:
(4 < 19) or (12 > 34)

True

In [ ]:
(3 > 34) or (10 == 22)

False

Veamos este operador usado en nuestra función filter. Vamos a usar las mismas funciones que usamos en el ´and´ pero ahora vamos a usar or para unirlas. Eso quiere decir que nuestro filter va regresar todos los valores que sean pares o que sean mayores a 50:

In [ ]:
def numero_es_par_o_mayor_a_50(numeros):
  if numero_es_par(numeros) or numero_mayor_a_50(numeros):
    return True
  else:
    return False

In [ ]:
list(filter(numero_es_par_o_mayor_a_50,numeros))

[6, 78, 54, 36, 55, 32, 89, 87, 88, 90, 63, 74, 97, 6, 225, 46, 79]

<h3>Not</h3>

El último operador es mucho más sencillo. Lo único que hace este operador es regresar el valor booleano opuesto al que recibió:

In [ ]:
print(f'{("True"):8}|{(not True):8}')
print(f'{("False"):8}|{(not False):8}')

True    |       0
False   |       1

In [ ]:
list(filter(lambda x: not numero_es_par(x),numeros))

[3, 55, 13, 37, 89, 87, 63, 5, 97, 3, 225, 79]

<h3>Funciones lambda</h3>

Las funciones lambda son simplemente maneras simplificadas de escribir las funciones que ya conocemos tan bien.En programación, una función lambda, también denominada función anónima, función literal o función sencilla, es una definición de función que no está vinculada a un identificador.

La sintaxis de una función lambda es la siguiente:

(parámetros) -> expresión


En programación, una función lambda, también denominada función anónima, función literal o función sencilla, es una definición de función que no está vinculada a un identificador. Las funciones lambda suelen ser argumentos que se pasan a funciones de orden superior o se utilizan para construir el resultado de una función de orden superior que necesita devolver una función.

La sintaxis de una función lambda es la siguiente:

(parámetros) -> expresión
donde:

* parámetros es una lista de parámetros separados por comas.
* expresión es la expresión que se evaluará.

In [ ]:
lista = [1, 2, 3, 4, 5]

nueva_lista = map(lambda a, b: a + b, lista, lista)

print(nueva_lista)

<map object at 0x7a2538f0f040>

In [ ]:
numero = 5

cuadrado = lambda x: x * x

print(cuadrado(numero))

25

In [ ]:
numeros = [1,2,3,4,5,6,7,8]

list(map(lambda x: x * 100, numeros))

[100, 200, 300, 400, 500, 600, 700, 800]

In [ ]:
list(map(lambda x: x * (x + 1),numeros))

[2, 6, 12, 20, 30, 42, 56, 72]

In [ ]:
list(filter(lambda x: x > 5, numeros))

[6, 7, 8]

In [ ]:
list(filter(lambda x: not numero_es_par(x),numeros))

[1, 3, 5, 7]